ctp:
  profile: "dev"
  environment: sim
  is_production_mode: false
  enable_real_api: false

  broker_id: "9999"
  user_id: "191202"
  investor_id: "191202"
  market_front: "tcp://127.0.0.1:10131"
  trader_front: "tcp://127.0.0.1:10130"

  password_env: "CTP_SIM_PASSWORD"
  auth_code: "0000000000000000"
  app_id: "simnow_client_test"

  query_rate_limit_qps: 10
  connect_timeout_ms: 10000
  reconnect_max_attempts: 8
  reconnect_initial_backoff_ms: 500
  reconnect_max_backoff_ms: 8000
